<div class="container" id="saved-activities-container">
  {{#if savedActivities.length}}
  <div class="row" id="saved-activities-headline">
    <h1>
      MY SAVED PARKS
    </h1>
  </div>
  <div class="park-container">
    <div class="row" id="saved-park-headline">
      <h1>
        {{this.park_name}}
      </h1>
    </div>
      {{#each savedActivities}}
        <a href="{{this.url}}"></a>
    <div class="row saved-activity-card">
    
    
      <div class="col col-2 saved-activity-image-div">
        <!-- <img src="{{this.image}}" alt="{{this.title}}"> -->
        <img src="https://www.nps.gov/common/uploads/cropped_image/85B87145-027F-E7DE-82C04E8C4BCBC3B9.jpg"
          class="saved-activity-image" alt="{{this.title}}">
      </div>
      <div class="col col-9 saved-activities-title">
        {{this.title}}
      </div>
      <div class="col col-1 sunsave-button-div">
        <form action="/" method="post" class="unsave-btn-form">
          <input type="hidden" name="title" value="{{this.title}}">
          <input type="hidden" name="image" value="{{this.image}}">
          <button type="submit" class="btn btn-success btn-sm unsave-btn">Unsave</button>
        </form>
      </div>
      </div>
 
    </div>
</a>

     {{/each}}
  </div>
 {{else}}
{{#if error}}
{{error}}
            {{/if}}
        {{/if}}
</div>