<div class="container" id="saved-activities-container">
  {{#if savedActivities.length}}
  <div class="row" id="saved-activities-headline">
    <h1>
      MY SAVED PARKS
    </h1>
  </div>
  <div class="park-container">
    <div class="row" id="saved-park-headline">
      <h1>
        {{this.savedParkName}}
      </h1>
    </div>
    <div class="park-container">
      {{#each savedActivities}}
      <a href="{{this.url}}"></a>
      <div class="row saved-activity-card">
        <div class="col col-2 saved-activity-image-div">
          <!-- <img src="{{this.image}}" alt="{{this.title}}"> -->
          <img src="{{this.image}}"
            class="saved-activity-image" alt="{{this.title}}">
        </div>
        <div class="col col-9 saved-activities-title">
          {{this.title}}
        </div>
        <div class="col col-1 sunsave-button-div">
          <form action="/api/activities/{{this.id}}" method="delete" class="unsave-btn-form">
            <input type="hidden" name="parkName" value="{{../parkName}}">
            <button type="submit" class="btn btn-success btn-sm unsave-btn">Unsave</button>
          </form>
        </div>
      </div>
      {{/each}}
    </div>

  </div>
  {{else}}
  {{#if error}}
  {{error}}
  {{/if}}
  {{/if}}
  {{!--
</div> --}}